@{
    ViewData["Title"] = "Home Page";
}

@*Success message*@
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
<div class="text-center jumbotron">
    <h1 class="display-4">Welcome to my eCommerce site!</h1>
    <p class="lead">
        This small app is an inclass project that has us create a DataBase driven ecommerce site with Entity.
        <br>We also learn how to use more bootstrap to make the site look nice.
    </p>
</div>
