@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron">
    <h1 class="display-4">Welcome to my eCommerce site!</h1>
    <p class="lead">
        This small app is an inclass project that has us create a DataBase driven ecommerce site with Entity.
        <br>We also learn how to use more bootstrap to make the site look nice.
    </p>
</div>
